*__pycache__/
.vscode/
*.key
wandb/
slurm_*

kdd/
aaai_experiments/
bash_scripts/aaai/*

models/
results/
results*/
old_results/
outputs/
multirun/

images/random
images/paper/*.pdf
images/paper/*.gif
images/paper/*.mp4
images/paper/*.webm

*_local*
logs*/